<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heather Phelps Google Map Neighborhood List Project</title>
    <!-- JQuery js -->
    <script src="/js/jquery-3.1.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/knockout-3.4.2.js"></script>
	<!-- custom js -->
    <script src="/js/style.js"></script>
	
	
	<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>

<main class="container-fluid set-max">
	<div class="row">

		<div class="list-group col-sm-3">
			<div class="list-header"><h1>Landmarks</h1></div>
			<div>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" data-bind="textInput: searchItem">
                        <div class="input-group-btn"></div>
                    </div>
                </form>
            </div>

    		<div id="list">
                <ul class="list-unstyled wrap-it" data-bind="foreach: doFilter">
                    <li><a href="#" class="list-group-item wrap-it" id="lmk">
                        <h5 class="list-group-item-heading wrap-it" data-bind="visible: isVisible, text: name, click: bounceUp"></h5>
                    </a></li>
                </ul>
            </div>

		</div>

		<div class="map-big col-sm-9">
			<div id="map"></div>
		</div>

	</div>
</main>

<script src="/js/neighborhoodmap.js"></script>
<!--API call to Google Maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXcgHyvjUBGyfoyiNqTTw94-CgbAFypRg&callback=initMap" onerror="mapError()" async defer></script>

</body>

</html>